.question_container {
  margin-left: 10.5%;
  margin-top: 0%;
  width: 56%;
  height: 120px;
  text-align: top;
  position: absolute;
  height: 36%;
  padding: 10px;
  
  border-radius: 6px;
}
/*.eBox_selected {
    background-color: purple;
}

.eBox_selected:hover {
    background-color: purple;
}*/

.selectedoverlay {
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 88, 0, 0.5);
}

.AtomWeight {
    position: relative;
    display: initial;
}

.selection_container {
    display: inline-flex;
    cursor:pointer;
    margin-left: -12px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 5px;
}

.blurry {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.selected{
    border:3px solid orange;
}

.click_blocker{
    background-color:red;
}
