.question_container {
    margin-left: 10.5%;
    margin-top: -32px;
    width: 96%;
    /* height: 120px; */
    text-align: top;
    position: absolute;
    height: 45%;
    padding: 10px;
    border-radius: 6px;
}


/*.eBox_selected {
    background-color: purple;
}

.eBox_selected:hover {
    background-color: purple;
}*/

.eBox_selected {
    background-color: #56bfc5;
    color: #FFF;
}

.eBox_selected:hover {
    background-color: #05a0a8;
    color: #FFF;
}

/*
.selectedoverlay {
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 88, 0, 0.5);
}
*/

.AtomWeight {
    position: relative;
    display: initial;
}

.selection_container {
    display: inline-flex;
    cursor: pointer;
    margin-left: -12px;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 5px;
}

.blurry {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.selected {
    border: 3px solid orange;
}

.click_blocker {
    background-color: red;
}

.btn-skip_svar {
    margin-top: 1%;
}

.vis_container {
    height: 120px;
    text-align: top;
    border-radius: 6px;
    margin-top: -20px;
}
.no_pointer{
  pointer-events:none;
}

.PeriodicTableWrapper{
    margin-top:100px;
}


QuestionText.{
    margin-left: -12.5%;
}