body{line-height: 1;}

h1{color: #000;}  /*Midlertigigt fix*/

.QuizHeadingText{}
.QuestionWrap{margin-left: 4%;}
.QuestionWrap h2{display: inline-block;}
.QuestionText{ margin-right: 2%;}
.FeedbackWrap{margin-left: 4%;}
#Feedbackhide{display: none; 
				z-index: 3; 
				position: absolute; 

				/*font-size: 0.9em;*/
		        border: 1px solid #C0C0C0; 
		        background-color: rgba(248, 248, 246, 0.9);
		        z-index: 10; 
		        border-radius: 3px;
		        padding: 20px 20px 20px 20px;
		        width: 320px;
		        margin-top: 0px;
		/*
		        IPAD-work-around til at faa HintClass-div's til at lukke:
		        http://stackoverflow.com/questions/7892863/jquery-click-not-working-with-ipad
		        http://www.mitch-solutions.com/blog/17-ipad-jquery-live-click-events-not-working
		*/
		        cursor:pointer;  

			}
.LukClass {
                margin-top: -15px; 
                margin-right: -15px;
                color: rgba(0, 0, 0, 0.5);
              }
.LukClass:hover {color: #000;}
.QuizHeadingTextCount{display: inline-block;}
.NextQuestion{margin-left: 1%; margin-bottom: 1%;}
.QuestionTask{color: #000;}

.AnsMolecule{display: inline-block;}

.PeriodicTableWrapper{ width: 100%; /*border: 1px solid #F00;*/}
.ElementBox  {position: relative; font-size: 11px; width: 5%; margin: 0.27777%; padding: 3px; display: inline-block; line-height: 1.4; overflow: hidden;
/*
        IPAD-work-around til at faa HintClass-div's til at lukke:
        http://stackoverflow.com/questions/7892863/jquery-click-not-working-with-ipad
        http://www.mitch-solutions.com/blog/17-ipad-jquery-live-click-events-not-working
*/
        /*cursor:pointer;*/   
}  /* NOTE: 90/18 = 5%, og 5/18 = 0.27777% */
.DummyElement{position: relative; width: 5%; margin: 0.27777%; padding: 3px; display: inline-block; /*border: 1px solid #F00;*/ }
.AtomNum     {position: relative; }
.AtomName    {position: relative; }
.AtomSymbol  {position: relative; font-size: 160%; }
.AtomWeight  {position: relative; }
 
.lbox{width: 6%; margin-bottom: 2.8%; border: 1px solid #717272;} /* width: 12%; margin-bottom: 3%; */
.xlbox{/*width: 12%;*/ width: 4%; margin-right: 4%; }
.sbox{/*width: 33%;*/ width: 100%; border: 1px solid #717272;}

.red{border: 1px solid #F00;}

.DropZone{padding-left: 4%; margin-bottom: 0%;} /* padding-left: 25%; margin-bottom: 3% */ 
.DropWrap{}
.DropCoeff{display: inline-block;}
.DropElement{display: inline-block;}
.DropChargeAndIndex{display: inline-block;}
.DropCharge{}
.DropIndex{}
.DropSpacer{width: 70%;}
.DroppedDraggable{background-color: transparent; border-color: transparent;}

.DropHighlight{background-color: #0F0;}

.NumbersWrapper{display: inline-block; width: 40%; margin-bottom: 0%; position: absolute; top: 0px;} /* position: absolute løser tilsyneladende problemet med NumbersWrapper i FireFox, Chrome og Safari */
.IndexWrapper{} /* border: 1px solid #F00; */
.ChargeWrapper{} /* border: 1px solid #F00; */
.CoeffWrapper{/*height: 50px; border: 1px solid #F00;*/}

.ScoreWrapper{display: inline-block; padding: 3px; border: 1px solid #717272; margin-left: 27%;}
.ScoreWrapper h3{margin: 3px 0px;}

.NumberHeading{font-size: 18px; margin-top: 5px;}
.DragNum{padding: 0px; margin: 0.5%; display: inline-block; /*border: 1px solid #00F;*/ font-size: 22px;
/*
        IPAD-work-around til at faa HintClass-div's til at lukke:
        http://stackoverflow.com/questions/7892863/jquery-click-not-working-with-ipad
        http://www.mitch-solutions.com/blog/17-ipad-jquery-live-click-events-not-working
*/
        /*cursor:pointer;*/  
}
.IndexNum{}
.ChargeNum{}
.CoeffNum{}

.left{float: left;}
.right{float: right;}
.clear{clear: both;}


.droppable{/*border: 1px solid #717272;*/}

.XTEST{background-color: #0F0;}

.FontRed{color: #F00;}
.FontGreen{color: #0F0;}
.FontBlue{color: #00F;}

.CapitalI{font-family: "Georgia"; font-weight: 100;}

/*
.ui-draggable-dragging{z-index: 2;}
*/

.HasClone{z-index: 2;}
.Clone{z-index: 1;}

/*
	===============================================================  
					Color classes for the periodic table
	===============================================================  
*/

.AlkaliMetal{}
.AlkaliEarthMetal{}
.Metalloid{}
.NobelGas{background-color: #F00;}
.Halogen{}
.PostTransMetal{}
.TransMetal{}
.OtherNonMetal{}

.Metal{background-color: #A7A7A7;}
.NonMetal{background-color: #3399CC;}
